* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #303030; /* Cor de fundo escura */
}

.container {
    text-align: center;
    margin-bottom: 40px;
}

.logo {
    max-width:450px;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    margin-bottom: 20px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background: linear-gradient(45deg, #65c8bf, #4ca6a1); /* Gradiente começando em #65c8bf */
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, #4ca6a1, #65c8bf); /* Inverte a direção do gradiente no hover */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
