
.fotodeperfil{
text-align: center;
height: 500px;
width: 1500px;

}
.titulo{
    color: #65c8bf;
    text-align: center;
    font-family: 'vampiro one', sans-serif;
    font-size: 40px;
    -webkit-text-stroke: 1px #000000;
    margin:0;
}
.texto{
    text-align: center;
    font-size: 25px;
}

@media (max-width: 768px) {
    /* Estilos para tablets e dispositivos móveis */
}
@media (max-width: 480px) {
    /* Estilos para dispositivos menores, como smartphones */
}

@media (min-width: 1024px) {
    /* Estilos para telas de desktop e laptop */
}

@media (min-width: 1440px) {
    /* Estilos para telas de monitores widescreen */
}

*{
    padding: 0;
    margin: 0;
    border: none;
}

.menu {
    background-color: #303030;
    width: 100%;
    height: 63px;
    top: 0;
    left: 0;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px ;
    position: fixed;
    z-index: 1000;
}

.div-logo{
    display: flex;
    align-items: center;

}

.logo {
    width: 141px;
    height:auto;
}
.div-botoes{
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.botoes {
    padding: 10px 15px;
    color: white;
    background-color: #303030;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botoes:hover{

    background-color: #606060;  
    align-items: center;  
}

.div-cea{

    width: 127px;
    height: 63px;
    
}

.asml {
width: 127px;
height: 63px;
}


.div-footer{
    background-color: #303030; /* Cor de fundo */
    position: fixed;   /* Fixa a div na tela */
    padding: 0 20px;     /* Espaçamento interno */
    bottom: 0;         /* Alinha a div ao fundo da página */
    left: 0;           /* Alinha à esquerda */
    width: 100%;       /* Ocupa toda a largura da página */
    height: 63px;
    text-align: center;/* Centraliza o conteúdo do texto */
    align-items: center;
    position: fixed;
    z-index: 1000;
    gap: 20px;

}
