@media (max-width: 768px) {
    /* Estilos para tablets e dispositivos móveis */
  }
  @media (max-width: 480px) {
    /* Estilos para dispositivos menores, como smartphones */
  }
  
  @media (min-width: 1024px) {
    /* Estilos para telas de desktop e laptop */
  }
  
  @media (min-width: 1440px) {
    /* Estilos para telas de monitores widescreen */
  }
  
  * {
    padding: 0;
    margin: 0;
    border: none;
  }
  
  .titulo {
    color: #65c8bf;
    text-align: center;
    font-family: "vampiro one", sans-serif;
    font-size: 40px;
    -webkit-text-stroke: 1px #000000;
    margin: 0;
    margin-top: 100px; 
    margin-bottom: 20px;
   
  }

  .menu {
    background-color: #303030;
    width: 100%;
    height: 63px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    z-index: 1000;
  }
  
  .div-logo {
    display: flex;
    align-items: center;
  }
  .texto{
    margin-top: 15px;
  }
  .logo {
    width: 135px;
    height: 60px;
    background-size: 300px 150px;
  }
  .div-botoes {
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .botoes {
    padding: 10px 15px;
    color: white;
    background-color: #303030;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .botoes:hover {
    background-color: #606060;
    align-items: center;
  }
  
  footer {
      margin: 0;
      padding: 0;
      position: relative;
      width: 100%;
      height: 63px; /* Tamanho do footer */
      background-color: #303030;
      text-align: center;
      clear: both;
      display: flex;
      justify-content: center; /* Centraliza o conteúdo horizontalmente */
      align-items: center; /* Alinha o conteúdo verticalmente */
      box-sizing: border-box; /* Garante que o padding e border não aumentem a largura do footer */
    }
    
    .div-footer {
      width: 100%; /* Garante que ocupe toda a largura */
      padding: 0; /* Remove o padding lateral */
      display: flex;
      justify-content: center; /* Centraliza os itens dentro do footer */
    }
    
    .div-imagens {
      display: flex;
      gap: 20px;
      justify-content: center;
    }
    
    .logo-cea, .logo-asml {
      max-width: 100%; /* Imagens podem ser responsivas */
      height: auto; /* Mantém a proporção da imagem */
      width: 127px; /* Tamanho fixo */
      height:55px; /* Tamanho fixo */
    }
    
.container {
  display: flex;
  flex-wrap: wrap; /* Faz as seções quebrarem para a próxima linha quando necessário */
  gap: 20px; /* Espaço entre as seções */
  margin:20px
}

.box {
  flex: 1 1 calc(33.33% - 20px); /* Cada seção ocupará um terço da linha, com 20px de espaçamento entre elas */
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
  border: 2px solid black;
  text-align: center;
  border-radius: 20px;
  background-color: #65c8bf;
}


.fotos_card {
  height: 200px;
  width: 180px;
  float: left;
  margin-right: 10px;
}
.titulo1 {
  margin-bottom: 15px;
}